<!DOCTYPE html>
<html>
  <body>
    
    <% if data == true %>
    <div>
      Item Name : <%=name %>
    </div>

    <div>
      Category : <%=category %>
    </div>

    <div>
      Price : <%=price %>
    </div>
    <% else %>
        <p>data belum tersedia</p>
    <% end %>
      
        
  </body>
</html>